.bg-darkest {
    background-color: #434343;
}
.bg-darker {
    background-color: #666666;
}
.bg-darkish {
    background-color: #999999;
}

.label-big {font-size: 1.3em;}
.label-small {font-size: 1em;}
.list-item {
    background-color: #4ebe76;
    padding: 20px;
    margin-bottom: 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #eff3f6;
    color: #000;
    padding: 15px;
}